*{
	box-sizing: border-box;
	margin: 0px;
}
#nav{
	position: sticky;
	top:0px;
}
#nav table{
	background-color: #292929;
	width: 100%;
}
#nav table tr td{
	text-align: center;
	width: 25%;
	padding: 20px;
	border: 5px solid white;
	font-family: verdana;
	font-size: 30px;
	letter-spacing: 5px;
}

#nav a{
	display: block;
	text-decoration: none;
	color: white;
}
#nav table tr td:hover, #nav table tr td.active{
	background: black;
}
.logo {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
#header span {
	color: white;
	font-size: 45px;
	margin-left: 20px;	
	font-family: verdana;
}
#header {
	position: relative;
	background-color: #292929;
	padding: 10px;
}
#content-nav {
	float: left;
	width: 30%;
	background: #00aeef;
}
#content-nav caption{
	font-family: verdana;
	font-weight: bold;
	letter-spacing: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
}
#content-nav table, caption{
	width: 100%;
	background: #00aeef;
}
#content-nav table td{
	padding: 10px;
	font-size: 35px;
	font-family: courier new;
}
#content-nav table caption{
	font-size: 30px;
}
#content-nav table .section-name{
	text-align: left;
}
#content-nav table .pic{
	text-align: center;
}
#news h1{
	padding-top: 200px;
	text-align: center;
	font-size: 55px;
	font-family: verdana;
}
#news p{
	text-align: center;
	font-size: 30px;
	font-family: verdana;
	margin-top: 18px;
	margin: 10px;
}
footer{
	background-color: #292929;
	color: white;
	width: 100%;
}
footer table{
	text-align: center;
	width: 100%;
	font-family: verdana;
	color: white;
}
#ConInf{
	padding: 20px;
	text-align: left;
	width: 30%;
	border-right: 5px solid white;
}
#ConInf p{
	margin-left: 20px;
	margin-top: 5px;
}
footer table td{
	width: 23.33%;
}
footer a{
	display: block;
	text-decoration: none;
	color: white;
}
footer a:hover, #nav a.active{
	color: #00aeef;
}